<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iaproject.miage.intelligentagenda">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.authentification.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.dayevent.ActivityDay"/>
        <activity android:name=".activity.authentification.SignUpActivity"/>
        <activity android:name=".activity.Profil.ProfileActivity"/>
        <activity android:name=".activity.authentification.ResetPasswordActivity"/>
        <activity android:name=".activity.home.HomeActivity">
        </activity>
        <activity android:name=".activity.dayevent.AddEventActivity">
        </activity>
        <activity android:name=".activity.dayevent.PlanningActivity">
        </activity>
        <activity android:name=".activity.dayevent.EventActivity">
        </activity>
        <activity android:name=".activity.dayevent.DayActivity">
        </activity>
    </application>

</manifest>